[submodule "balena-sound"]
	path = balena-sound
	url = git@github.com:balenalabs/balena-sound.git
[submodule "balena-cam"]
	path = balena-cam
	url = git@github.com:philipmather/balena-cam.git
	branch = add_res_select
